h1 {
    margin-left: 320px;
    color: #403d3d;
    text-transform: uppercase;
    font-family: Abril Fatface;
  }

  h3 {
    margin-left: 320px;
    color: #403d3d;
    width: 43%;
    font-family: Abril Fatface;
  }

  h4 {
    margin-left: 320px;
    color: #403d3d;
    width: 43%;
    font-family: Merriweather;
    font-size: 15px;
    font-style: italic;
  }

  p, ul {
    margin-left: 320px;
    width: 45%;
    font-family: Josefin Sans;
    color: #403d3d;
    font-size: 20px;
    list-style-type: square;
  }

  .little {
     margin-left: 320px;
     width: 45%;
     font-family: Josefin Sans;
     color: #403d3d;
     font-size: 15px;
    }

    .ullittle {
      margin-left: 320px;
      width: 45%;
      font-family: Josefin Sans;
      color: #403d3d;
      font-size: 15px;
      list-style-type: square;
    }

    .intro {
      position: relative;
      height: 400px;
      background-image:url(https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png);
      background-size:100% 100%;
    }

    .first {
      font:bold 40px Abril Fatface;
      position: absolute; 
      top: 250px; 
      left: 320px; 
      letter-spacing:-4px;
    }
    .second {
      font:bold 75px Abril Fatface;
      position: absolute; 
      top: 280px; 
      left: 320px;
      letter-spacing:-4px;
    }

    .bold {
      font-weight: bold;
    }

    .box {
      position: relative;
      margin-left: 280px;
      width: 55%;
      height: 150px;
      font-family: Josefin Sans;
      background-color: #403d3d;
    }

    .box2 {
      position: relative;
      margin-left: 280px;
      width: 55%;
      height: 230px;
      font-family: Josefin Sans;
      background-color: #403d3d;
    }

    .qm {
      position: absolute;
      top: -10px; 
      left: 0px;
      font-family: Abril Fatface;
      color: white;
      font-size: 100px;
    }

    .qout {
      position: absolute;
      top: 40px; 
      left: 30px;
      font-family: Abril Fatface;
      color: white;
      font-size: 60px;
      letter-spacing:-4px;
    }

    .qout2 {
      position: absolute;
      top: 110px; 
      left: 30px;
      font-family: Abril Fatface;
      color: white;
      font-size: 60px;
      letter-spacing:-4px;
    }